streamlit>=1.49
opencv-python-headless>=4.8
numpy>=1.21.2,<=1.23.0  # Changed to be compatible with super-gradients
Pillow>=10.0
torch>=2.1
torchvision>=0.16
filterpy>=1.4
scipy>=1.11
deep-sort-realtime>=1.3
super-gradients>=3.5
