streamlit==1.37.1
opencv-python-headless==4.10.0.84
super-gradients==3.8.0
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
numpy==1.26.4
pillow==10.3.0
scipy==1.13.1
matplotlib==3.9.2
pyyaml==6.0.2
tqdm==4.66.5
rich==13.9.2
